
i {display: block; background-repeat: no-repeat; background-position: center; background-size: contain;}

/* icon : a b c d e f g h i j k l m n o p q r s t u v w x y z */
.ic-arrow-right {width: .6rem; height: 1.2rem; background-image: url(../img/ico/ic-arrow-right.svg); cursor: pointer;}
.ic-link {width: 1.2rem; height: 1.2rem; background-image: url(../img/ico/ic-link.svg); cursor: pointer;}
